<a href="https://colab.research.google.com/github/Rushikesh-pawar/Text-Analysis-word-count-on-restaurant-data/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#import libraries
import sys
import nltk
nltk.download('stopwords')
nltk.download('punkt')
import sklearn
import pandas
import numpy

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [1]:
import pandas as pd
import numpy as np

# load the dataset of restaurant data
df = pd.read_csv('swiggy1.csv')

In [10]:
df.shape

(528, 10)

In [11]:
df.head()

   Unnamed: 0                Dish_name  ... Number of Ratings        Item Catagory
0           0  Cheese Melt Down Burger  ...     1000+ ratings  American, Fast Food
1           1     Fiery Chicken Burger  ...     1000+ ratings  American, Fast Food
2           2      Anytime Combo (Veg)  ...     1000+ ratings  American, Fast Food
3           3  Anytime Combo (Chicken)  ...     1000+ ratings  American, Fast Food
4           4          WFH Combo (Veg)  ...     1000+ ratings  American, Fast Food

[5 rows x 10 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          528 non-null    int64
 1   Dish_name           528 non-null    object
 2   Description         492 non-null    object
 3   Price               528 non-null    int64
 4   Bestseller          528 non-null    object
 5   Restaurant Name     528 non-null    object
 6   Restaurant Address  528 non-null    object
 7   Restaurant Ratings  528 non-null    float64
 8   Number of Ratings   528 non-null    object
 9   Item Catagory       528 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 41.4+ KB

In [16]:
#checking for missing values
df.isnull()

     Unnamed: 0  Dish_name  ...  Number of Ratings  Item Catagory
0         False      False  ...              False          False
1         False      False  ...              False          False
2         False      False  ...              False          False
3         False      False  ...              False          False
4         False      False  ...              False          False
..          ...        ...  ...                ...            ...
523       False      False  ...              False          False
524       False      False  ...              False          False
525       False      False  ...              False          False
526       False      False  ...              False          False
527       False      False  ...              False          False

[528 rows x 10 columns]

In [26]:
# fill the NA values with fillna
df = df.fillna(method = 'ffill')

In [27]:
df

     Unnamed: 0  ...        Item Catagory
0             0  ...  American, Fast Food
1             1  ...  American, Fast Food
2             2  ...  American, Fast Food
3             3  ...  American, Fast Food
4             4  ...  American, Fast Food
..          ...  ...                  ...
523         171  ...  American, Fast Food
524         172  ...  American, Fast Food
525         173  ...  American, Fast Food
526         174  ...  American, Fast Food
527         175  ...  American, Fast Food

[528 rows x 10 columns]

In [28]:
dataTypeSeries = df.dtypes
print(dataTypeSeries)
df['Description'] = df['Description']

Unnamed: 0              int64
Dish_name              object
Description            object
Price                   int64
Bestseller             object
Restaurant Name        object
Restaurant Address     object
Restaurant Ratings    float64
Number of Ratings      object
Item Catagory          object
dtype: object

In [19]:
desc=df['Description']
name=df['Dish_name']
print(desc)
print(name)

0       Cheese oozing spicy veg patty, veggies and cr...
1       Too Hot to Handle. Our Spicy & Crunchy Chicke...
2       2 Crispy Veg Double Patty+ 1 King Peri Peri F...
3       2 Crispy Chicken Double Patty + 1King Peri Pe...
4       2Veg Whopper + 1King Peri Peri Fries + 1 Vegg...
                             ...
523                      What every potato wants to be.
524                                                  NaN
525                                                  NaN
526                                                  NaN
527     A fresh and fluffy  egg patty loaded with jui...
Name: Description, Length: 528, dtype: object
0           Cheese Melt Down Burger
1              Fiery Chicken Burger
2               Anytime Combo (Veg)
3           Anytime Combo (Chicken)
4                   WFH Combo (Veg)
                   ...
523                       Hashbrown
524                 King Egg Burger
525    king Egg Double Patty Burger
526            King Egg with Cheese
527                   King Egg Wrap
Name: Dish_name, Length: 528, dtype: object

### Text Analysis for Dish Description Column

In [20]:
# Remove punctuation
processed = desc.str.replace(r'[^\w\d\s]', ' ')

# Replace whitespace between terms with a single space
processed = processed.str.replace(r'\s+', ' ')

# Remove leading and trailing whitespace
processed = processed.str.replace(r'\s+', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

In [21]:
# change words to lower case - Hello, HELLO, hello are all the same word
processed = processed.str.lower()
print(processed)

0       cheese oozing spicy veg patty veggies and cre...
1       too hot to handle our spicy crunchy chicken p...
2       2 crispy veg double patty 1 king peri peri fr...
3       2 crispy chicken double patty 1king peri peri...
4       2veg whopper 1king peri peri fries 1 veggie s...
                             ...
523                       what every potato wants to be
524                                                  NaN
525                                                  NaN
526                                                  NaN
527     a fresh and fluffy egg patty loaded with juic...
Name: Description, Length: 528, dtype: object

In [22]:
from nltk.corpus import stopwords

# remove stop words from text messages

stop_words = set(stopwords.words('english'))

processed = processed.apply(lambda x: ' '.join(term for term in x.split() if term not in stop_words))

In [23]:
# Remove word stems using a Porter stemmer
ps = nltk.PorterStemmer()

processed = processed.apply(lambda x: ' '.join(
    ps.stem(term) for term in x.split()))

In [24]:
from nltk.tokenize import word_tokenize

# create bag-of-words
all_words = []

for message in processed:
    words = word_tokenize(message)
    for w in words:
        all_words.append(w)
        
all_words = nltk.FreqDist(all_words)

In [25]:
# print the total number of words and the 15 most common words
print('Number of words: {}'.format(len(all_words)))
print('Most common words: {}'.format(all_words.most_common(15)))

Number of words: 194
Most common words: [('chicken', 276), ('patti', 255), ('fri', 225), ('crispi', 219), ('1', 219), ('whopper', 204), ('sauc', 198), ('2', 198), ('veg', 159), ('fresh', 132), ('pepsi', 123), ('signatur', 117), ('bun', 114), ('onion', 111), ('creami', 99)]

### Text Analysis for Dish Name column

In [29]:
# Remove punctuation
processed1 = name.str.replace(r'[^\w\d\s]', ' ')

# Replace whitespace between terms with a single space
processed1 = processed1.str.replace(r'\s+', ' ')

# Remove leading and trailing whitespace
processed1 = processed1.str.replace(r'^\s+|\s+?$', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

In [30]:
# change words to lower case - Hello, HELLO, hello are all the same word
processed1 = processed1.str.lower()
print(processed)

0      chees ooz spici veg patti veggi creami sauc in...
1      hot handl spici crunchi chicken patti top cris...
2      2 crispi veg doubl patti 1 king peri peri fri ...
3      2 crispi chicken doubl patti 1king peri peri f...
4      2veg whopper 1king peri peri fri 1 veggi strip...
                             ...
523                                    everi potato want
524                                    everi potato want
525                                    everi potato want
526                                    everi potato want
527    fresh fluffi egg patti load juici veggi top de...
Name: Description, Length: 528, dtype: object

In [31]:
from nltk.corpus import stopwords

# remove stop words from text messages

stop_words1 = set(stopwords.words('english'))

processed1 = processed1.apply(lambda x: ' '.join(
    term for term in x.split() if term not in stop_words1))

In [32]:
# Remove word stems using a Porter stemmer
ps = nltk.PorterStemmer()

processed1 = processed1.apply(lambda x: ' '.join(
    ps.stem(term) for term in x.split()))

In [33]:
from nltk.tokenize import word_tokenize

# create bag-of-words
all_words = []

for message in processed:
    words = word_tokenize(message)
    for w in words:
        all_words.append(w)
        
all_words = nltk.FreqDist(all_words)

In [34]:
# print the total number of words and the 15 most common words
print('Number of words: {}'.format(len(all_words)))
print('Most common words: {}'.format(all_words.most_common(15)))

Number of words: 194
Most common words: [('chicken', 276), ('patti', 255), ('fri', 225), ('crispi', 219), ('1', 219), ('whopper', 204), ('sauc', 198), ('2', 198), ('veg', 159), ('fresh', 132), ('pepsi', 123), ('signatur', 117), ('bun', 114), ('onion', 111), ('creami', 99)]